/*----------------------------------Global------------------------------------*/
body {
  margin: 0;
  background: white url("bg1.jpg") no-repeat fixed center;
  background-size: cover;
}

input {
  box-sizing: border-box;
  border-style:solid;
  border-color: #bbb;
  padding:10px;
}
input:focus{
  border-color: #3399FF;
  outline: none;
}
h1 {
  text-align: center;
  color: #17c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

/*----------------------Login/Register/Lostpw----------------------------*/

#login_content {
  width: 50%;
  margin: 10% auto;
  display: block;
  background-color: #E6E6FA;
  border-radius: 10px;
  padding: 10px; 
}

#login_content p {
  text-align: center;
  font-family: Helvetica;
}

.input_holder{
  padding: 7px 0;
  margin: 0 auto;
  width: 200px;
}

.link_holder{
  padding: 7px 0;
  margin: 0 auto;
  width: 220px;
  text-align: center;

}

.button{
  color: white;
  background-color: #3399FF;
  width: 193px;
  border: none;

}

.button:hover {
    background-color: #17c;
}

.link{
  color: #3399FF;
  text-decoration: underline;
  padding: 0 7px 0 7px;
}

.link:hover{
  cursor: pointer;
}

/*------------------------------------Home----------------------------------------------*/

#menu_bar{
  background-color: #3399FF;
  width: 100%;
}

#menu_bar > div {
  width: 80%;
  margin: 0 auto;
}

#menu_bar div img{
  width: 4%;
  padding: 10px;
}

#menu_bar div div{
    display: inline-block;
    position: relative;
    width: 90%;
    font-size: 0;
    padding: 0;
    text-align: left;	
}

#menu_bar div div div {
    color: white;
    list-style: none;
    text-align: center;
    text-decoration: none;
	  font-size: 20px;
    line-height: 84px;
  	display: inline-block;
  	padding: 0px 15px;
    margin: 0;
    width: 22%;
}

#menu_bar div div div:hover {
    background: #17c;
    cursor: pointer;
}

.page_content{
  background-color: #E6E6FA;
  width: 80%;
  margin: 0 auto;
}
#main_bar > div div{
  display: inline-block;
  cursor: pointer;
  padding: 20px;
}
#main_bar > div {
  display: inline-block;
  font-size: 16px;
  width: 48%;
}

#newAdventurePopup{
  width: 30%;
  border: 1px solid #8A8A96;
  background-color: #A5E0CB;
  margin: 5% 25%;
  position: fixed;
}

#main_bar > div div:hover{
  background-color: #8A8A96;
}
.threadHeader {
  background-color: #8A8A96;
  min-height: 90px;
  cursor: pointer;
  border-bottom: 1px solid black;
}
.threadHeader > div{
  line-height: 50px;
  display: inline-block;
}

.threadHeader div div{
  line-height: 46px;
  display: inline-block;
}

.bgimage{
  background: url("dot.png") no-repeat center;
  background-size: 50% ;
}
/*----------------------------------------------------*/

.post{
  font-size: 0;
  border-bottom: 1px solid #8A8A96;
}

.post div{
  text-align: center;
  padding:20px;
  display:inline-block;
  font-size: 18px;
}

.divbutt{
  margin-top: 80%;
  color:white;
  cursor: pointer;
  padding: 20px;
  background-color: #4CC297;
}

.divbutt:hover{
  background-color:#00A86B ;
}

.divbutt_red{
  color:white;
  margin-top: 10%;
  cursor: pointer;
  padding: 20px;
  background-color: #C13F3F
}

.divbutt_red:hover{
  background-color:#B21010 ;
}

.divbutt_blu{
  margin-top: 10%;
  color: white;
  cursor: pointer;
  padding: 20px;
  background-color: #3399FF
}

.divbutt_blu:hover{
  background-color:#17c ;
}

#newPostPopup{
  width: 30%;
  background-color: #A5E0CB;
  margin: 0 25%;
  position: fixed;
}
.closing{
  color: white;
  display: inline-block;
  padding: 10px 0;
  width: 49%; 
  background-color: #3399FF; 
  cursor: pointer;
  margin:0 auto;
  text-align:center;
}

.closing:hover{
  background-color:#17c ;
}