<div id="menu_bar">
    <div>
        <img src="favicon.ico" style="float:left;"alt="">
        <div>
            <div (click)="redirectToHome()">Kalandok</div>
            <div>Karakterek</div>
            <div>Profil</div>
            <div (click)="initiateLogout()">Kijelentkezés</div>
        </div>
    </div>  
</div>
<div class="page_content">
    <div class="main_post post" style="border: 1px solid #8A8A96; min-height: 300px;">
       <div style="width:20%;"  style="float:left;">
            <span>Dungeon master:</span> <br>
            <span *ngIf="thread">{{thread.creator.username}}</span><br>
            <p>Szint: <span *ngIf="thread">{{thread.creator.character.level}}</span></p>
            <div class="divbutt" (click)="attemptJoin()">Csatlakozás</div>
       </div>
       <div *ngIf="thread" style="width:73%; margin:0 0 0 80px;">
           {{thread.mainpost}}
       </div>
    </div>
        <div *ngIf="newPostShow" id="newPostPopup">
        <h1>Új hozzászólás</h1>
        <div class="input_holder" style="width:400px">
            <textarea [(ngModel)]="postText" placeholder="Szólj hozzá..." style="width:100%;"></textarea><br>
        </div>
        <div class="input_holder" style="width:100%;display:inline-block;">
            <div style="width:70%;margin:0 auto;">
                <input value="Mégse" class="button" type="submit" (click)="closeNewPost()">
                <input value="Küldés" class="button" type="submit" (click)="confirmNewPost()">
            </div>
        </div>
    </div>
     <div *ngIf="modifyPostShow" id="newPostPopup">
        <h1>Hozzászólás módosítása</h1>
        <div class="input_holder" style="width:400px">
            <textarea [(ngModel)]="postText" placeholder="Szólj hozzá..." style="width:100%;"></textarea><br>
        </div>
        <div class="input_holder" style="width:100%;display:inline-block;">
            <div style="width:70%;margin:0 auto;">
                <input value="Mégse" class="button" type="submit" (click)="closeModify()">
                <input value="Módosítás" class="button" type="submit" (click)="confirmText()">
            </div>
        </div>
    </div>
    <!--*ngFor post in resp -->
    <div *ngFor="let post of posts" class="post" style="min-height: 200px;">
         <div  style="width:20%;"  style="float:left;">
            <span >{{post.creator.username}}</span><br>
            <p>Szint: <span>{{post.creator.character.level}}</span></p>
             <!--(click)="postDelete({{post.id}})" -->
             <!--(click)="showModify({{post.id}})" -->
            <div class="divbutt_red" (click)="postDelete(post.id)">Post törlése</div>
            <div class="divbutt_blu" (click)="showModify(post.id)">Post módosítása</div>
       </div>
       <div style="width:70%">
           {{post.text}}
       </div>
    </div>
    <div>
        <div class="closing" (click)="showNewPost()">Új hozzászólás</div>
         <div class="closing" (click)="finishAdventure()">Kaland vége</div>
    </div>
</div>