<div id="menu_bar">
    <div>
        <img src="favicon.ico" style="float:left;"alt="">
        <div>
            <div>Kalandok</div>
            <div>Karakterek</div>
            <div>Profil</div>
            <div (click)="initiateLogout()">Kijelentkezés</div>
        </div>
    </div>  
</div>
<div class="page_content">
    <div class="main_post post" style="border: 1px solid #8A8A96">
       <div style="width:20%;"  style="float:left;">
            <span>Dungeon master:</span> <br>
            <span>Testuser</span><br>
            <p>Szint: <span>16</span></p>
            <div class="divbutt" (click)="attemptJoin()">Csatlakozás</div>
       </div>
       <div style="width:73%; margin:0 0 0 80px;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec porta neque, ac dapibus elit. Aenean id quam convallis, maximus dui vitae, euismod dui. Vestibulum vulputate eros eu ligula pretium porta quis venenatis dui. Fusce eu pulvinar nisl. Ut luctus dolor sapien, a sagittis neque bibendum in. Nunc facilisis egestas felis nec rhoncus. Curabitur blandit arcu tortor, egestas viverra ipsum eleifend in. Maecenas at mi nec lorem euismod consectetur id sed mi. Maecenas efficitur, enim quis consectetur ullamcorper, quam elit porttitor arcu, vitae condimentum velit ipsum sit amet ante.

Mauris posuere sed lacus scelerisque dictum. Aenean eu pharetra urna. Pellentesque sagittis lacus sit amet justo consequat vulputate. Donec sapien est, facilisis id lacinia accumsan, bibendum sit amet turpis. Morbi posuere consectetur faucibus. Etiam rutrum condimentum placerat. Vivamus dignissim malesuada elit at mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi at lorem eu urna luctus venenatis. Quisque elementum pellentesque sem, ac posuere ipsum fermentum a. Donec placerat nunc sed venenatis mollis. Praesent non ex faucibus, lobortis erat a, euismod ex. Pellentesque vehicula tellus tincidunt sem euismod, non molestie tellus vehicula. Fusce commodo faucibus justo a feugiat.

Donec sit amet neque semper risus aliquam rhoncus convallis in quam. In hac habitasse platea dictumst. Donec lacinia finibus odio sit amet volutpat. Proin id diam lacinia ex sagittis porta et id tellus. Praesent sodales nibh eu elit aliquet, ac accumsan quam interdum. Aliquam erat volutpat. Praesent accumsan augue et augue tristique, aliquam mattis nisi rhoncus. Mauris sit amet laoreet ante. Vivamus nec rhoncus eros. Aliquam malesuada nibh quis commodo egestas.
       </div>
    </div>
        <div *ngIf="newPostShow" id="newPostPopup">
        <h1>Új hozzászólás</h1>
        <div class="input_holder" style="width:400px">
            <textarea [(ngModel)]="postText" placeholder="Szólj hozzá..." style="width:100%;"></textarea><br>
        </div>
        <div class="input_holder" style="width:100%;display:inline-block;">
            <div style="width:70%;margin:0 auto;">
                <input value="Mégse" class="button" type="submit" (click)="closeNewPost()">
                <input value="Küldés" class="button" type="submit" (click)="confirmNewPost()">
            </div>
        </div>
    </div>
     <div *ngIf="modifyPostShow" id="newPostPopup">
        <h1>Hozzászólás módosítása</h1>
        <div class="input_holder" style="width:400px">
            <textarea [(ngModel)]="postText" placeholder="Szólj hozzá..." style="width:100%;"></textarea><br>
        </div>
        <div class="input_holder" style="width:100%;display:inline-block;">
            <div style="width:70%;margin:0 auto;">
                <input value="Mégse" class="button" type="submit" (click)="closeModify()">
                <input value="Módosítás" class="button" type="submit" (click)="confirmText()">
            </div>
        </div>
    </div>
    <div class="post" style="min-height: 200px;">
         <div style="width:20%;"  style="float:left;">
            <span>Testuser</span><br>
            <p>Szint: <span>16</span></p>
            <div class="divbutt_red" (click)="postDelete()">Post törlése</div>
            <div class="divbutt_blu" (click)="showModify()">Post módosítása</div>
       </div>
       <div style="width:70%">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec porta neque, ac dapibus elit. Aenean id quam convallis, maximus dui vitae, euismod dui. Vestibulum vulputate eros eu ligula pretium porta quis venenatis dui. Fusce eu pulvinar nisl. Ut luctus dolor sapien, a sagittis neque bibendum in. Nunc facilisis egestas felis nec rhoncus. Curabitur blandit arcu tortor, egestas viverra ipsum eleifend in. Maecenas at mi nec lorem euismod consectetur id sed mi. Maecenas efficitur, enim quis consectetur ullamcorper, quam elit porttitor arcu, vitae condimentum velit ipsum sit amet ante.
       </div>
    </div>
    <div>
        <div class="closing" (click)="showNewPost()">Új hozzászólás</div>
    </div>
</div>