<div id="menu_bar">
    <div>
        <img src="favicon.ico" style="float:left;"alt="">
        <div>
            <div>Kalandok</div>
            <div>Karakterek</div>
            <div>Profil</div>
            <div (click)="initiateLogout()">Kijelentkezés</div>
        </div>
    </div>  
</div>
<div class="page_content">
    <div *ngIf="newAdventureShow" id="newAdventurePopup">
        <h1>Új kaland létrehozása</h1>
        <div class="input_holder">
            <input [(ngModel)]="adventureTitle" type="text" placeholder="Kaland címe"><br>
        </div>
        <div class="input_holder">
            <input [(ngModel)]="partySize" type="number" placeholder="Max létszám"><br>
        </div>
        <div class="input_holder">
            <input [(ngModel)]="minLvl" type="number" placeholder="Min szint"><br>
        </div>
        <div class="input_holder">
            <input [(ngModel)]="maxLvl" type="number" placeholder="Max szint"><br>
        </div>
        <div class="input_holder" style="width:400px">
            <textarea [(ngModel)]="description" placeholder="Kaland leírása..." style="width:100%;"></textarea><br>
        </div>
        <div class="input_holder" style="width:100%;display:inline-block;">
            <div style="width:70%;margin:0 auto;">
                <input value="Mégse" class="button" type="submit" (click)="closeNewAdv()">
                <input value="Rajta!" class="button" type="submit" (click)="confirmNewAdventure()">
            </div>
        </div>
    </div>
    <div id="main_bar">
        <div>
            <div>
                Kaland Napló
            </div>
            <div (click)="showNewAdventurePopup()">
                Új kaland
            </div>
        </div>
        <div style="padding: 15px;"> 
            Üdvözlünk a fórumunkon! ha új játékos vagy, mindenképp készíts egy karaktert, mielőtt belevágnál a játékba!
        </div>
    </div>
    <!--*ngFor thread in resp -->
    <!--(click)="redirectToThread({{thread.id}})" -->
    <div *ngFor="let thread of resp" class="threadHeader" (click)="redirectToThread(thread._id)">
        <div stlye="font-size:0;">
            <div class="bgimage" style="width: 156px; float:left;min-height:150px;">
            </div>       
            <div style="text-align: center; font-size: 20px; min-width:900px; ">
                <!--{{thread.title}}-->
                <p>{{thread.title}}</p>
                <!--{{thread.maxcount}} ||||| {{thread.minlevel}} - {{thread.maxlevel}}-->
                <p>Létszám:<span>{{thread.partcount}}/{{thread.maxcount}}</span>,<span>Szint: {{thread.minlevel}}-{{thread.maxlevel}}</span></p>                 
            </div>
        </div>
        <div style="text-align: center; font-size: 20px; width: 28%; line-height: 45px;">
            <!--{{thread.creator}}-->
             <p>Létrehozva: <span>{{thread.creator.username}}</span></p> 
             <!--{{thread.postcount}}-->
              <p>hozzászólások száma: {{thread.postcount}}</p> 
        </div>
    </div>    
</div>