<div id="menu_bar">
    <div>
        <img src="favicon.ico" alt="">
        <div>
            <div>Kalandok</div>
            <div>Karakterek</div>
            <div>Profil</div>
            <div>Kijelentkezés</div>
        </div>
    </div>  
</div>
<div id="page_content">
    <div id="main_bar">
        <div>
            <div>
                Kaland Napló
            </div>
            <div>
                Új kaland
            </div>
        </div>
        <div style="padding: 15px;"> 
            Üdvözlünk a fórumunkon! ha új játékos vagy, mindenképp készíts egy karaktert, mielőtt belevágnál a játékba!
        </div>
    </div>
    <div>
        <div>

        </div>
        <div>

        </div>
    </div>    
</div>